<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
     
        <!--<configuration name="Delicious.Feature.Homepage" description="Delicious.Feature.Homepage" dependencies="Foundation.Serialization" extends="Helix.Feature">
          <predicate>
            <include name="Delicious.Feature.Homepage.Home.Homepage" database="master" path="/sitecore/content/Home/Homepage"/>
          </predicate> 
        </configuration>-->
       
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
