<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
      <!--   UNCOMMENT AND MODIFY AS NEEDED!
        <configuration name="Delicious.Foundation.Serialization" description="Delicious.Foundation.Serialization" dependencies="Foundation.Serialization" extends="Helix.Foundation">
          <predicate>
            <include name="Delicious.Foundation.Serialization.Some.Core.Items" database="core" path="/sitecore/path/here/has/to/changed"/>
          </predicate> 
        </configuration>
        -->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
