@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation 
  <!-- Receipe Post Search -->
  <div class="receipe-post-search mb-80">
    <div class="container">
      <form action="#" method="post">
        <div class="row">
          <div class="col-12 col-lg-3">
            <select name="select1" id="select1">
              <option value="1">All Recipes Categories</option>
              <option value="1">All Recipes Categories 2</option>
              <option value="1">All Recipes Categories 3</option>
              <option value="1">All Recipes Categories 4</option>
              <option value="1">All Recipes Categories 5</option>
            </select>
          </div>
          <div class="col-12 col-lg-3">
            <select name="select1" id="select2">
              <option value="1">All Recipes Categories</option>
              <option value="1">All Recipes Categories 2</option>
              <option value="1">All Recipes Categories 3</option>
              <option value="1">All Recipes Categories 4</option>
              <option value="1">All Recipes Categories 5</option>
            </select>
          </div>
          <div class="col-12 col-lg-3">
            <input type="search" name="search" placeholder="Search Recipes">
          </div>
          <div class="col-12 col-lg-3 text-right">
            <button type="submit" class="btn delicious-btn">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
